<h2>ABOUT ME</h2>
<p>
  I'm a recent CS grad from Fairfield University with a strong builder/founder mindset 
  and interest in building thoughtful technology. I like a good design (seriously), meaningful conversations, and creating tech that actually 
  feels enjoyable to use AND works well. 
</p>

<p>
    Outside of tech, I'm probably playing a sport, cafe hopping, trying to catch another flight, or just on some super random sidequest. 
    I'm a big believer in discipline, curiosity, and growth — probably shaped by spending 4 years playing D1 tennis and being way too competitive for my own good.
</p>

<h2>The basics</h2>
<dl class="meta">
  <dt>Education</dt>
  <dd>
    <b>Fairfield University</b> <br>
    <b><span class="underline-red">B.S. in Computer Science</span></b> · Minor in Mathematics <br>
    <small>Honors Program | Dean's List 2022-2026</small>
  </dd>
  <dt>Graduation</dt>
  <dd>
    <b>May 2026</b> · <span class="underline-red">GPA <b>3.80</b> </span>· Summa Cum Laude
  </dd>
  <dt>Based</dt>
  <dd>
    Toronto, ON &nbsp;&amp;&nbsp; Fairfield, CT
  </dd>
  <dt>Athletics</dt>
  <dd>
    <span class="underline-red"><b>NCAA Division I Athlete</b></span> · Women’s Tennis
  </dd>
</dl>

<h2>How I work</h2>
<p>
  I work best by doing, learning on the go, and refining through reps. 
  Training for over 16 years in tennis has taught me that consistency usually beats intensity, 
  and that mindset has carried through into how I approach projects, teams, and solving problems.
  Don't hate me for saying this, BUT there's really no such thing as perfection, just small improvements over time.
</p>

<p class="red-comment" style="font-size:13px">/* I'm really just going with the flow ✌️*/</p>