<h2>Welcome</h2>
<p>
  This is my desk where there's a stack of <b>index cards</b> on it. Flip through the tabs at the top to see what 
  I've been spending my time on lately.
</p>

<h2>Currently</h2>
<ul>
  <li class="done"><b>Launching</b> <b>OatPlanner</b> — minimalist planner/productivity webapp <a class="margin-note" style="transform:rotate(.5deg)" href="https://www.oatplanner.com" target="_blank" rel="noopener">www.oatplanner.com</a> <small>Next.js · React · TypeScript · Supabase · Vercel AI SDK · Tailwind CSS</small></li>
  <li class="done"><b>Graduating</b> <b>May 2026</b> — looking for <span class="hl">SWE roles</span>, but also open to similar relating roles. <small>Full-Stack, UI/UX, Forward Deploy, Data Science, ML/AI</small></li>
  <li><b>Building</b> — my personal brand on Social Media — sharing what I'm learning and doing in my life 😊 </li>

<a class="red" style="font-size:14px; font-weight:700; transform:rotate(.8deg); display:inline-block;" href="#about">flip to the next card →</a>